html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'GothamPro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  margin: 0;
  padding: 0;
}

