.container {
  width: 1100px;
  margin: 0 auto;
  padding-right: 1.313rem;
  padding-left: 1.188rem;
}

.container--index {
  display: flex;
}
 .container--discount {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .container--feedback {
   
 }