.breadcrumbs {
  display: flex;
  color: #f1579b;
}

.breadcrumbs__link {
  color: inherit;
}

.breadcrumbs__link::after {
  content: "/";
}

.breadcrumbs__link::after:not(.breadcrumbs .breadcrumbs__item:last-child) {
  content: "/";
}
