.company__contacts {
  display: inline-block;
  color: #fff;
  text-align: right;
}

.company__tel {
  display: block;
  font-weight: bold;
  font-size: 1.313em;
  color: inherit;
}

.company__schedule {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .875em;
  line-height: 2;
  opacity: .7;
  text-decoration: underline;
  cursor: pointer;
  color: #b12167;
}