.discount {
  padding: 2rem .625rem;
  font-size: 1.125em;
  line-height: 1.67;
  color: #fff;
  background: url('../../img/ban/discount-banner.jpg');
}

.discount__text {
  min-width: 274px;
  max-height: 230px;
}

.discount__percent {
  color: #ec1e79;
}

.discount {
 margin-bottom: 3.563rem;
}