.feedback {
  margin-bottom: 3.125rem;
  color: #221f1f;
}

.form {
  width: 700px;
  padding: 3.125rem 4.375rem;
  display: flex;
  flex-direction: column;
  font-size: 0.875em;
  background: #f5f5f5;
}

.form__title {
  font-weight: bold;
  font-size: 3.063em;
  margin-bottom: 1.875rem;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.form__name-text, .form__vk-text, .form__comment-text, .form__radio-text {
  margin-bottom: 0.625rem;
}

.form__name-input, .form__vk-input  {
  width: 269px;
  height: 45px;
  padding-left: 0.563rem;
  border: none;
  border-radius: 0.188rem;
}

.form__comment {
  margin-bottom: 1.25rem;
}

.form__comment-input {
  width: 560px;
  height: 90px;
  padding-left: 0.563rem;
  border-radius: 0.188rem;
  resize: none;
  border-color: #ec1e79;
}

.form__radio {
  display: flex;
  justify-content: space-between;
}

.form__radio-block {
  display: flex;
  flex-direction: column;
}

.form__radio-flag {
  display: flex;
}

.form__yes {
  margin-right: 2.813rem;
}

.form__radio-yes-input, .form__radio-no-input {
  display: none;
}

.form__radio-yes-label, .form__radio-no-label {
  position: relative;
}

.feedback__radio-yes-label::before {
  content: "●";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -150%;
  /* transform: scale(-50%, -50%); */
  background: linear-gradient(#ededed,#ffffff);
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__radio-no-label::before {
  content: "●";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -100%;
  /* transform: scale(-50%, -50%); */
  background: linear-gradient(#ededed,#ffffff);
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content: "●"; */

.feedback__yes:hover, .feedback__no:hover {
  color: #ec1e79;
}

.feedback__yes:hover .feedback__radio-yes-input {
  color: #ec1e79;
  border-color: #ec1e79;
}

.feedback__radio-button {
  width: 140px;
  height: 45px;
  font-size: 0.857em;
  letter-spacing: 2.4px;
  color: #fff;
  border-radius: 0.188rem;
  background: #27273e;
}
