.feedback {
  margin-bottom: 3.125rem;
  color: #221f1f;
}

.feedback__form {
  width: 700px;
  padding: 3.125rem 4.375rem;
  box-shadow: 0 0 0 0;
  background: #f5f5f5;
}

.feedback__title {
  font-weight: bold;
  font-size: 3.063em;
  margin-bottom: 1.875rem;
}

.feedback__list {
  font-size: 1.143em;
}

.feedback__item {
  display: flex;
  margin-bottom: 1.25rem;
}

.feedback__name, .feedback__vk, .feedback__comment, .feedback__radio-text {
  display: block;
  margin-bottom: 0.625rem;
}

#feedback__name, #feedback__vk  {
  width: 269px;
  height: 45px;
  padding-left: 0.563rem;
  border-radius: 0.188rem;
}

#feedback__name {
  margin-right: 1.438rem;
}

#feedback__comment {
  width: 560px;
  height: 90px;
  padding-left: 0.563rem;
  border-radius: 0.188rem;
}

.feedback__form-radio {
  margin-right: auto;
}

.feedback__radio {
  display: flex;
}

.feedback__yes {
  margin-right: 1.188rem;
}

.feedback__yes:hover, .feedback__no:hover {
  color: #ec1e79;
}

.feedback__radio-button {
  width: 140px;
  height: 45px;
  font-size: 0.857em;
  letter-spacing: 2.4px;
  color: #fff;
  border-radius: 0.188rem;
  background: #27273e;
}
