.footer {
  height: 77px;
  padding: 0.875rem 0;
  display: flex;
  justify-content: space-between;
  background: #27273e;
}

.autor {
  width: 264px;
  float: left;
  font-size: .875em;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  color: #fff;
}

.autor__decor {
  font-weight: bold;
}

.social {
  float: right;
}

.social__title {
  font-size: .875em;
  margin-bottom: .625rem;
  font-weight: bold;
  color: #fff;
}

.social-icons {
  text-align: center;
}

.social-icons__list {
  display: inline-block;
}

.social-icons__link {
  display: block;
  font-size: 0px;
  background-color: #d4d4d8;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  transition: .3s;
}

.social-icons__pic {
  width: 10px;
  height: 9.4px;
  display: inline-block;
  vertical-align: middle;
}

.social-icons__link:hover {
  background-color: #ec1e79;
}