.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background: url('../../img/layout/layout.jpg') no-repeat;
  background-size: cover; */
}

.wrapper::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .15;
  z-index: -5;
  background: #ec1e79;
}

.wrapper .intro-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

.intro-animation {
  display: flex;
  flex-flow: column;
  align-items: center;
  animation: introAnimation 5s;
}

.intro-animation__img {
  max-width: 160px;
  max-height: 100px;
  margin-bottom: 1.875rem;
}

.intro-animation__pic {
 margin-bottom: .625rem;
}

.intro-animation__title {
  font-size: 1.125em;
  text-align: center;
  color: #fff;
}

.intro-animation__button {
  color:#ec1e79;
}

.intro-animation__push-but {
  padding: 1.063rem 1.438rem;
  color: inherit;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: 3px  solid  #ec1e79;
  outline: none;
}

.intro-animation__push-but:hover {
  color: #fff;
  background: #ec1e79;
}

@keyframes introAnimation {
  0% {
    transform: scale(0);
  }

  50% {
  }  

  100% {
    transform: scale(1);
  }
}