.aside-nav {
  display: flex;
  margin-bottom: 2.063rem;
}

.aside-nav__index {
  padding-top: 1.25rem;
  margin-bottom: 0;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  padding-left: 2rem;
  margin-right: 5.625rem;
}

.nav-list__item:last-child {
  margin: 0;
}

.nav-list__link {
  position: relative;
  display: block;
  font-size: 0.75em;
  letter-spacing: 1.2px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  color: #ec1e79;
}

.nav-list__item--index-style .nav-list__link {
  color: #fff;
}

.nav-list__item--index-style:first-child .nav-list__link {
  color: #ec1e79;
}

.nav-list__item--index-style:first-child .nav-list__link::before {
  content: "";
  width: 17px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  background: url('../../img/nav/css_sprites.png') -47px -86px no-repeat;
}

.nav-list__item--reviews-style:nth-child(2) .nav-list__link {
  color: #000;
}

.nav-list__item--reviews-style:nth-child(2) .nav-list__link::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  background: url('../../img/nav/css_sprites.png') -10px -10px no-repeat;
}

.nav-list__item--prices-style:last-child .nav-list__link {
  color: #000;
}

.nav-list__item--prices-style:last-child .nav-list__link::before {
  content: "";
  width: 19px;
  height: 16px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  background: url('../../img/nav/css_sprites.png') -50px -48px no-repeat;
}

.nav-list__item:hover .nav-list__link {
  color: #000;
  transition: .3s;
}

.nav-list__item--index-style:hover .nav-list__link {
  color: #ec1e79;
  transition: .3s;
}


.nav-list__link-main::before {
  content: "";
  width: 17px;
  height: 15px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  background: url('../../img/nav/css_sprites.png') -47px -86px no-repeat;
}

.nav-list__link-feed::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  background: url('../../img/nav/css_sprites.png') -50px -10px no-repeat;
}

.nav-list__link-wallet::before {
  content: "";
  width: 19px;
  height: 16px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  background: url('../../img/nav/css_sprites.png') -90px -10px no-repeat;
}

.nav-list__link-main::after {
  content: "";
  width: 17px;
  height: 15px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  background: url('../../img/nav/css_sprites.png') -10px -86px no-repeat;
}

.nav-list__item--index-style .nav-list__link-main::after {
  content: "";
  width: 17px;
  height: 15px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  background: url('../../img/nav/css_sprites.png') -47px -86px no-repeat;
}

.nav-list__item:hover .nav-list__link-main::after {
  content: "";
  opacity: 1;
  transition: .3s;
}


.nav-list__link-feed::after {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  background: url('../../img/nav/css_sprites.png') -10px -10px no-repeat;
}

.nav-list__item--index-style .nav-list__link-feed::after {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  background: url('../../img/nav/css_sprites.png') -50px -10px no-repeat;
}

.nav-list__item:hover .nav-list__link-feed::after {
  content: "";
  opacity: 1;
  transition: .3s;
}

.nav-list__link-wallet::after {
  content: "";
  width: 19px;
  height: 16px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  background: url('../../img/nav/css_sprites.png') -50px -48px no-repeat;
}

.nav-list__item--index-style .nav-list__link-wallet::after {
  content: "";
  width: 19px;
  height: 16px;
  position: absolute;
  display: block;
  top: 50%;
  left: -30%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  background: url('../../img/nav/css_sprites.png') -90px -10px no-repeat;
}

.nav-list__item:hover .nav-list__link-wallet::after {
  content: "";
  opacity: 1;
  transition: .3s;
}

.nav-list__item--index-style .nav-list__link-feed::before {
  content: "";
  background: url('../../img/nav/css_sprites.png') -10px -48px no-repeat;
}

.nav-list__item--index-style .nav-list__link-wallet::before {
  content: "";
  background: url('../../img/nav/css_sprites.png') -90px -46px no-repeat;
}

.nav-list__item--index-style:hover .nav-list__link-main::after {
  content: "";
  opacity: 0;
}

.nav-list__item--reviews-style:hover .nav-list__link-feed::after {
  content: "";
  opacity: 0;
}

.nav-list__item--prices-style:hover .nav-list__link-feed::after {
  content: "";
  opacity: 0;
}