/* .promo {
  margin-bottom: 3.99rem;
  display: flex;
  flex-direction: column;
} */

/* .promo__title {
  font-size: 3.063em;
  font-weight: bold;
  color: #221f1f;
  margin-bottom: 4rem;
} */

.promo__list {
  display: flex;
  margin-bottom: 1.875rem;
}

.profit-list {
  width: 226px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profit-list__pic-inner {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.875rem;
  background-color: #27273e;
}

.profit-list__pic-inner__pic {
  width: 32px;
  height: 32px;
  fill: #fff;
}

.profit-list__list-title {
  font-size: .9em;
  font-weight: bold;
  color: #212121;
  text-align: center;
  letter-spacing: 2.6px;
  margin-bottom: 1rem;
}

.profit-list__description {
  font-size: 1.125em;
  line-height: 1.67;
  color: #221f1f;
}

.profit-list__item {
  text-align: center;
  line-height: 1.67;
}

.profit-list__item--padding {
  padding-left: 1.875rem;
  text-align: left;
}

.profit-list__item--padding::before {
  content:"•";
  margin-right:  1rem;
  color: #c36;
}

.tariff {
  padding: 1.875rem 2.813rem;
}

.tariff__title {
  margin-bottom: 2.125rem;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}