.promo {
  margin-bottom: 3.99rem;
  display: flex;
}


.promo__title {
  font-size: 3.063em;
  font-weight: bold;
  color: #221f1f;
  margin-bottom: 4rem;
}

.profit-list {
  width: 226px;
}

.profit-list__pic-inner {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.profit-list__pic-inner {
  width: 68px;
  height: 68px;
  font-size: 0;
  border-radius: 50%;
  margin-bottom: 1.875rem;
  background-color: #27273e;
}

.profit-list__pic-inner__pic {
  width: 32px;
  height: 32px;
  fill: #fff;
}

.profit-list__list-title {
  font-size: .9em;
  font-weight: bold;
  color: #212121;
  text-align: center;
  letter-spacing: 2.6px;
  margin-bottom: 1rem;
}

.profit-list__description {
  font-size: 1.125em;
  line-height: 1.67;
  color: #221f1f;
}

.profit-list__item {
  text-align: center;
  line-height: 1.67;
}

.profit-list__item--padding {
  padding-left: 1.875rem;
  text-align: left;
}

.profit-list__item--padding::before {
  content:"•";
  margin-right:  1rem;
  color: #c36;
}