/*MAIN CSS */

body {
  font-family: 'GothamPro', Arial, sans-serif;
}

body, ul, li, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.content, .page {
  width: 1100px;
  margin: 0 auto;
}

/* HEADER */

.header {
  margin: 0 auto;
  background-color: #27273e;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding-right: 1.313rem;
  padding-left: 1.188rem;
}

.header__container {
  padding-top: .813rem;
}

.logo {
  display: inline-block;
}

.header__logo {
  float: left;
}

.header__contact {
  vertical-align: top;
  float: right;
}

.company__contacts {
  display: inline-block;
  color: #fff;
  text-align: right;
}

.company__tel, .company__schedule {
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.company__tel {
  font-size: 1.313em;
  
  color: inherit;
}

.company__schedule {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .875em;
  line-height: 2;
  opacity: .7;
  color: #b12167;
}

.company__tel--hover:hover {
  text-decoration: underline;
}

/* MAIN-IMG */

.main-img__pic {
  width: 100%;
}

/* NAV */

.nav {
  float: left;
  width: 115px;
  padding: 0 0 0 .9rem;
  margin-top: 3.22rem;
}

.nav {
  display: inline-block;
}

.nav-list {
  list-style-type: none;
}

.nav__item {
  margin: 0 0 1.65rem 0;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 0.8em;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.nav__title {
  display: inline-block;
  padding: 0 0 0 1rem;
}

.nav__hov, .nav__hov, .nav__hov  {
  position: absolute;
  left: 0;
  opacity: 0;
}

.nav__link:hover .nav__hov:nth-child(2) {
  opacity: 1;
}

.nav__link:hover{
  color: #ec1e79;
}

/* CONTENT */

.content {
  width: 1100px;
  padding-left: 75px;
  margin: 3.22rem auto;
}

h1 {
  font-size: 3.063em;
  font-weight: bold;
  color: #221f1f;
  margin-bottom: 4rem;
}

.main-content {
  margin-bottom: 3.99rem;
}

.main-content-list {
  list-style: none;
}

.main-content-list-inner {
  display: inline-block;
  vertical-align: top;
}

.profit-list {
  display: inline-block;
  list-style: none;
}

.pic-inner, .list-title, .services-list {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.pic-inner {
  background-color: #27273e;
}

.pic-inner {
  width: 68px;
  height: 68px;
  font-size: 0;
  border-radius: 50%;
  margin-bottom: 1.875rem;
}

.pic-inner__pic {
  display: inline-block;
  vertical-align: middle;
}

.before-vertical::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.list-title {
  font-size: 1.14em;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-bottom: 1rem;
}

.services-list {
  width: 226px;
  list-style: none;
  display: inline-block;
  font-size: 1.125em;
  line-height: 1.5;
  color: #221f1f;
}

.services-list__item {
  font-size: 1em;
  text-align: center;
  line-height: 2;
  margin-left: 30px;
}

.services-list__item:not(:first-child) {
  text-align: left;
}

.services-list__item:not(:first-child)::before {
  content:"•";
  margin: 0 1rem 0 0;
  color: #c36;
}

.services-list__decor {
  display: block;
}

/* NEWS BLOCK */

h2 {
  font-size: 3.063em;
  font-weight: bold;
  color: #221f1f;
  margin-bottom: 4.1rem;
}

.news {
  margin-bottom: 2.95rem;
}

.news-wrapper{
  margin-bottom: 1.1rem;
}

.news-img, .news-list-wrapper  {
  display: inline-block;
}

.news-img {
  font-size: 0;
  vertical-align: top;
}

.news-wrapper-inner, .news-inner-list {
  list-style: none;
}

.news-list-wrapper {
  width: 685px;
}

.news-list {
  list-style: none;
  margin-left: 1.25rem;
  font-family: 'Roboto';
  vertical-align: top;
  color: #221f1f;
}

.news-img__pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.news-list__time {
  font-size: .875em;
  font-weight: 300;
  color: #656464;
}

.news-list__title {
  font-size: 1.05em;
  line-height: 1.9;
  font-weight: bold;
}

.news-list__text  {
  font-size: 1.125em;
  line-height: 2;
  font-weight: 300;
}

/* PAGE NAV */

.page {
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: 4.3rem;
}

.page__info, .page-list-wrapper, .page-list__item {
  display: inline-block;
}

.page__info {
  font-size: .875em;
  font-weight: 300;
  color: #656464;
  margin-right: 1.188rem;
}

.page-list {
  font-size: .875em;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
}

 /* color: #656464; */

.page-list__link {
  display: block;
  padding: 5px 7px;
  color: #221f1f;
  text-decoration: none;
}

.page-list__link:hover {
  background: #27273e;
  color: #fff;
}

.nav-button__link {
  padding: 5px 7px;
  text-decoration: none;
}

button {
  outline: none;
}
button {
  border: 0;
}

/* FOOTER */

.footer {
  background: #27273e;
  position: relative;
}

.footer__container {
  padding-bottom: 1rem;
}

.autor, .footer-logo, .contacts, .social-icons__list {
  display: inline-block;
}

.autor {
  float: left;
  width: 25%;
  font-size: .875em;
  font-weight: 300;
  line-height: 1.3;
  color: #fff;
}

.autor__decor {
  font-weight: bold;
}

.footer-logo {
 margin: 0 0 0 13.5rem;
}

.contacts {
  vertical-align: top;
  float: right;
}

.contacts__title {
  font-size: .875em;
  margin:  0 0 .625rem 0;
  font-weight: bold;
  color: #fff;
}

.social-icons__list {
  position: relative;
  margin: 0 0.1rem 0 0;
}

.social-icons__list:last-child {
  margin: 0;
}

.social-icons__pic {
  width: 10px;
  height: 9.4px;
  display: inline-block;
  vertical-align: middle;
}

.social-icons__link {
  display: inline-block;
  font-size: 0px;
  background-color: #d4d4d8;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}

.social-icons__link:hover {
  background-color: #ec1e79;
}